@import "compass/css3";
@import "compass/reset";

*{
  @include box-sizing(border-box);
}

a{
  color: #37c;
  &:hover{
    text-decoration: none;
  }
}

html{
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;    
  font-family: 'EB Garamond', serif;  
  text-align: center;
  line-height: 1.2;
  color: #333;
}

header{
  padding-top: 20px;
  margin-bottom: 20px;
}

h1{
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8em;
}

p{
  margin-bottom: 20px;
}

footer,
article{
  padding: 10px;
}

footer{
  position: absolute;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #666;
  width: 100%;
}

.tiles{
  margin-bottom: 20px;
  li{
    display: inline-block;
    span{
      display: block;
      padding: 20px 0px;
      text-align: center;
      width: 50px;
      
    }
  }  
}

.anagram{
  li{
    span{
      border: solid 1px #ccc;
      background: #fff;
      cursor: move;
    }
  }
}

.solution{
  li{
    span{
      background: #eee;
    }
  }
}



