/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, ../scss/style.scss */
a {
  color: #37c;
}
/* line 10, ../scss/style.scss */
a:hover {
  text-decoration: none;
}

/* line 15, ../scss/style.scss */
html {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'EB Garamond', serif;
  text-align: center;
  line-height: 1.2;
  color: #333;
}

/* line 32, ../scss/style.scss */
header {
  padding-top: 20px;
  margin-bottom: 20px;
}

/* line 37, ../scss/style.scss */
h1 {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8em;
}

/* line 43, ../scss/style.scss */
p {
  margin-bottom: 20px;
}

/* line 48, ../scss/style.scss */
footer,
article {
  padding: 10px;
}

/* line 52, ../scss/style.scss */
footer {
  position: absolute;
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: #666;
  width: 100%;
}

/* line 61, ../scss/style.scss */
em {
  font-style: italic;
}

/* line 66, ../scss/style.scss */
#hint ul {
  margin-bottom: 20px;
}

/* line 71, ../scss/style.scss */
.tiles {
  margin-bottom: 20px;
}
/* line 73, ../scss/style.scss */
.tiles li {
  display: inline-block;
}
/* line 75, ../scss/style.scss */
.tiles li span {
  display: block;
  padding: 20px 0px;
  text-align: center;
  width: 50px;
}

/* line 87, ../scss/style.scss */
.anagram li span {
  border: solid 1px #ccc;
  background: #fff;
  cursor: move;
}

/* line 97, ../scss/style.scss */
.solution li span {
  background: #eee;
}
